{% load static basefilters horillafilters employee_filter i18n %} {% load tz %} {% now "Y-m-d" as current_date %}
{% load accessibility_filters %}
{% if "leave"|app_installed and not 'overall_leave_chart' in charts %}
    {% if perms.leave.view_leaverequest %}
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 oh-card-dashboard--moveable dashboardChart" id="movable1">
            <div class="oh-card-dashboard oh-card-dashboard--no-scale oh-card-dashboard--transparent">
                <div class="oh-card-dashboard__header oh-card-dashboard__header--divider">
                    <span class="oh-card-dashboard__title">{% trans "Overall Leave" %}</span>
                    <span class="float-end chart_close_button ms-3" role="button" data-chart="overall_leave_chart"
                        hx-post="{% url 'dashboard-components-toggle' %}?chart_id=overall_leave_chart" hx-target="#movable1"
                        hx-swap="outerHTML">
                        <i class="material-icons fw-lighter fs-5">close</i>
                    </span>
                    <select class="oh-select oh-select--sm float-end" name="" id="overAllLeaveSelect">
                        <option value="today" selected>{% trans "Today" %}</option>
                        <option value="week">{% trans "This Week" %}</option>
                        <option value="month">{% trans "This Month" %}</option>
                        <option value="year">{% trans "This Year" %}</option>
                    </select>
                </div>
                <div class="oh-card-dashboard__body">
                    <canvas id="overAllLeave" style="cursor: pointer" height='300' width="350"></canvas>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
{% if not 'objective_status' in charts and "pms"|app_installed %}
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 oh-card-dashboard--moveable dashboardChart" id="movable9">
        <div class="oh-card-dashboard oh-card-dashboard--no-scale oh-card-dashboard--transparent">
            <div class="oh-card-dashboard__header oh-card-dashboard__header--divider">
                <span class="oh-card-dashboard__title">{% trans "Objective Status" %}</span>
                <span class="float-end chart_close_button " role="button" data-chart="objective_status"
                    hx-post="{% url 'dashboard-components-toggle' %}?chart_id=objective_status" hx-target="#movable9"
                    hx-swap="outerHTML">
                    <i class="material-icons fw-lighter fs-5">close</i>
                </span>
            </div>
            <div class="oh-card-dashboard__body">
                <canvas id="objectiveChart" style="cursor: pointer"></canvas>
            </div>
        </div>
    </div>
{% endif %}
{% if "pms"|app_installed and not 'key_result_status' in charts %}
    {% if perms.pms.view_employeekeyresult or request.user|is_reportingmanager %}
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 oh-card-dashboard--moveable dashboardChart" id="movable10">
            <div class="oh-card-dashboard oh-card-dashboard--no-scale oh-card-dashboard--transparent">
                <div class="oh-card-dashboard__header oh-card-dashboard__header--divider">
                    <span class="oh-card-dashboard__title">{% trans "Key Result Status" %}</span>
                    <span class="float-end chart_close_button " role="button" data-chart="key_result_status"
                        hx-post="{% url 'dashboard-components-toggle' %}?chart_id=key_result_status" hx-target="#movable10"
                        hx-swap="outerHTML">
                        <i class="material-icons fw-lighter fs-5">close</i>
                    </span>
                </div>
                <div class="oh-card-dashboard__body">
                    <canvas id="keyResultChart" style="cursor: pointer"></canvas>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
{% if "pms"|app_installed and not 'feedback_status' in charts %}
    {% if perms.pms.view_feedback or request.user|is_reportingmanager %}
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 oh-card-dashboard--moveable dashboardChart" id="movable11">
            <div class="oh-card-dashboard oh-card-dashboard--no-scale oh-card-dashboard--transparent">
                <div class="oh-card-dashboard__header oh-card-dashboard__header--divider">
                    <span class="oh-card-dashboard__title">{% trans "Feedback Status" %}</span>
                    <span class="float-end chart_close_button " role="button" data-chart="feedback_status"
                        hx-post="{% url 'dashboard-components-toggle' %}?chart_id=feedback_status" hx-target="#movable11"
                        hx-swap="outerHTML">
                        <i class="material-icons fw-lighter fs-5">close</i>
                    </span>
                </div>
                <div class="oh-card-dashboard__body">
                    <div class="oh-card-dashboard__body">
                        <canvas id="feedbackChart" style="cursor: pointer"></canvas>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
{% if not 'shift_request_approve' in charts %}
    {% if perms.base.change_shiftrequest or request.user|is_reportingmanager %}
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 oh-card-dashboard--moveable dashboardChart"
            id="shiftRequestApprove">
            <div class="oh-card-dashboard oh-card-dashboard--no-scale oh-card-dashboard--transparent" style="height:425px">
                <div class="oh-card-dashboard__header oh-card-dashboard__header--divider">
                    <span class="oh-card-dashboard__title">{% trans "Shift Requests To Approve" %}</span>
                    <span class="float-end chart_close_button " role="button" data-chart="shift_request_approve"
                        hx-post="{% url 'dashboard-components-toggle' %}?chart_id=shift_request_approve"
                        hx-target="#shiftRequestApprove" hx-swap="outerHTML">
                        <i class="material-icons fw-lighter fs-5">close</i>
                    </span>
                </div>
                <div class="oh-card-dashboard__body" id="shiftRequestApproveBody" style="height:80%"
                    hx-get="{% url 'dashboard-shift-request' %}" hx-trigger="load">
                    <div class="animated-background"></div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
{% if not 'work_type_request_approve' in charts %}
    {% if perms.base.change_worktyperequest or request.user|is_reportingmanager %}
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 oh-card-dashboard--moveable dashboardChart"
            id="WorkTypeRequestApprove">
            <div class="oh-card-dashboard oh-card-dashboard--no-scale oh-card-dashboard--transparent" style="height:425px">
                <div class="oh-card-dashboard__header oh-card-dashboard__header--divider">
                    <span class="oh-card-dashboard__title">{% trans "Work Type Requests To Approve" %}</span>
                    <span class="float-end chart_close_button " role="button" data-chart="work_type_request_approve"
                        hx-post="{% url 'dashboard-components-toggle' %}?chart_id=work_type_request_approve"
                        hx-target="#WorkTypeRequestApprove" hx-swap="outerHTML">
                        <i class="material-icons fw-lighter fs-5">close</i>
                    </span>
                </div>
                <div class="oh-card-dashboard__body" id="WorkTypeRequestApproveBody" style="height:80%"
                    hx-get="{% url 'dashboard-work-type-request' %}" hx-trigger="load"
                    >
                    <div class="animated-background"></div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
{% if "attendance"|app_installed and not 'overtime_approve' in charts %}
    {% if perms.attendance.change_attendance or request.user|is_reportingmanager %}
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 oh-card-dashboard--moveable dashboardChart" id="OTApprove">
            <div class="oh-card-dashboard oh-card-dashboard--no-scale oh-card-dashboard--transparent" style="height:425px"
                id="OTApproveTarget">
                <div class="oh-card-dashboard__header oh-card-dashboard__header--divider">
                    <span class="oh-card-dashboard__title">
                        {% trans 'Overtime To Approve' %}
                    </span>
                    <span class="float-end chart_close_button " role="button" data-chart="overtime_approve"
                        hx-post="{% url 'dashboard-components-toggle' %}?chart_id=overtime_approve" hx-target="#OTApprove"
                        hx-swap="outerHTML">
                        <i class="material-icons fw-lighter fs-5">close</i>
                    </span>
                </div>
                <div class="oh-card-dashboard__body" id="OTApproveBody" style="height: 75%"
                    hx-get="{% url 'dashboard-approve-overtimes' %}" hx-trigger="load">
                    <div class="animated-background"></div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
{% if "leave"|app_installed and not 'leave_request_approve' in charts %}
    {% if perms.leave.change_leaverequest or request.user|is_reportingmanager %}
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 oh-card-dashboard--moveable dashboardChart" id="LeaveApprove">
            <div class="oh-card-dashboard oh-card-dashboard--no-scale oh-card-dashboard--transparent" style="height:425px">
                <div class="oh-card-dashboard__header oh-card-dashboard__header--divider">
                    <span class="oh-card-dashboard__title">{% trans "Leave Requests To Approve" %}</span>
                    <span class="float-end chart_close_button " role="button" data-chart="leave_request_approve"
                        hx-post="{% url 'dashboard-components-toggle' %}?chart_id=leave_request_approve" hx-target="#LeaveApprove"
                        hx-swap="outerHTML">
                        <i class="material-icons fw-lighter fs-5">close</i>
                    </span>
                </div>
                <div class="oh-card-dashboard__body" id="leaveApproveCardBody" style="height:80%"
                    hx-get="{% url 'leave-request-and-approve' %}" hx-trigger="load">
                    <div class="animated-background"></div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
{% if "leave"|app_installed and not 'leave_allocation_approve' in charts %}
    {% if perms.leave.change_leaveallocationrequest or request.user|is_reportingmanager %}
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 oh-card-dashboard--moveable dashboardChart"
            id="LeaveAllocationApprove">
            <div class="oh-card-dashboard oh-card-dashboard--no-scale oh-card-dashboard--transparent" style="height:425px">
                <div class="oh-card-dashboard__header oh-card-dashboard__header--divider">
                    <span class="oh-card-dashboard__title">{% trans "Leave Allocation Request To Approve" %}</span>
                    <span class="float-end chart_close_button " role="button" data-chart="leave_allocation_approve"
                        hx-post="{% url 'dashboard-components-toggle' %}?chart_id=leave_allocation_approve"
                        hx-target="#LeaveAllocationApprove" hx-swap="outerHTML">
                        <i class="material-icons fw-lighter fs-5">close</i>
                    </span>
                </div>
                <div class="oh-card-dashboard__body" id="leaveAllocationApproveBody" style="height:80%"
                    hx-get="{% url 'leave-allocation-approve' %}" hx-trigger="load">
                    <div class="animated-background"></div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
